#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&mt { flavor = "tap-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <2 3>;
        };

        pa {
            bindings = <&pa>;
            key-positions = <36 37>;
        };

        login {
            bindings = <&login>;
            key-positions = <22 23>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <32 41>;
        };

        mail {
            bindings = <&mail>;
            key-positions = <10 11>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <1 2>;
        };

        shifttab {
            bindings = <&kp LS(TAB)>;
            key-positions = <29 17>;
            timeout-ms = <0>;
        };
    };

    macros {
        pa: pa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A &kp S &kp W &kp A &kp R &kp D>;
            label = "PA";
        };

        login: login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp O &kp G &kp I &kp N &kp I &kp D>;
            label = "LOGIN";
        };

        mail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp I &kp L &kp AT &kp M &kp A &kp I &kp L &kp DOT &kp J &kp P>;
            label = "MAIL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |                    |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |                    |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  MUTE  |  |        |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |                    | ENT | RSE  | ALT |

            bindings = <
&kp ESC         &kp Q               &kp W    &kp E                   &kp R           &kp T                         &kp Y        &kp U        &kp I      &kp O    &kp P                  &kp LEFT_WIN
&kp LCTRL       &mt LEFT_SHIFT A    &lt 3 S  &kp D                   &lt 1 F         &kp G                         &kp H        &lt 1 J      &kp K      &lt 3 L  &mt RIGHT_SHIFT MINUS  &kp RCTRL
&kp LEFT_SHIFT  &mt LEFT_CONTROL Z  &kp X    &kp C                   &kp V           &kp B           &mo 2  &mo 1  &kp N        &kp M        &kp COMMA  &kp DOT  &kp RIGHT_ALT          &kp RIGHT_SHIFT
                                             &mt LEFT_WIN BACKSPACE  &lt 4 CAPSLOCK  &lt 2 INT_KANA                &lt 5 SPACE  &lt 2 ENTER  &lt 6 TAB
            >;

            sensor-bindings =
                <&inc_dec_kp LC(DELETE) LC(BACKSPACE)>,
                <&inc_dec_kp TAB LS(TAB)>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |                    | LFT | DWN |  UP | RGT |     |  F12 |
            // | SHFT | F1  | F2  | F3  | F4  | F5  |  boot  |  |        |  F6 | F7  | F8  | F9  | F10 |  F11 |
            //                    | GUI |     | SPC |                    | ENT |     | ALT |

            bindings = <
&trans      &kp PAGE_UP       &kp HOME            &kp N3          &kp END          &kp LC(HOME)                        &kp PAGE_UP    &kp LC(LEFT_ARROW)  &kp LS(TAB)  &kp LC(RIGHT)  &kp N0           &trans
&kp LCTRL   &kp LS(LC(HOME))  &kp LC(LEFT_ARROW)  &kp UP_ARROW    &kp LC(RIGHT)    &kp LC(LS(END))                     &kp PAGE_DOWN  &mkp MB1            &mkp MB1     &mkp MB2       &kp RIGHT_SHIFT  &kp RCTRL
&kp LSHIFT  &kp PAGE_DOWN     &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LC(END)      &kp K_MUTE  &none  &kp HOME       &kp LEFT_ARROW      &kp LG(TAB)  &kp RIGHT      &kp RIGHT_ALT    &kp RIGHT_SHIFT
                                                  &kp LC(X)       &kp LC(C)        &kp LC(V)                           &kp LC(Z)      &kp LC(Y)           &trans
            >;

            sensor-bindings =
                <&inc_dec_kp UP_ARROW DOWN>,
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |                    |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |        |  |  boot  |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |                    | ENT |     | ALT |

            bindings = <
&kt LESS_THAN                    &kp GREATER_THAN  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RC(MINUS)                       &kp HASH       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SQT            &kp DOLLAR    &kp TILDE
&mt SLASH LCTRL                  &kp PERCENT       &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS                            &kp AT_SIGN    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &kp COLON     &kp SEMICOLON
&mt LEFT_SHIFT NON_US_BACKSLASH  &kp ASTERISK      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL       &none  &bootloader  &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp EXCLAMATION    &kp QUESTION  &kp PIPE
                                                                 &kt F10       &kt NUMBER_0  &kt UNDERSCORE                      &kt CARET      &trans                &trans
            >;

            sensor-bindings =
                <&inc_dec_kp LA(LEFT_ARROW) LA(RIGHT_ARROW)>,
                <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        layer_3 {
            bindings = <
&trans           &trans      &trans            &kp LS(LG(M))  &trans             &trans                         &trans         &kp LS(LG(LEFT))    &kp LG(M)           &kp LS(LG(RIGHT))    &trans     &trans
&kp LC(LG(F4))   &kp RA(F6)  &kp LS(TAB)       &kp LG(TAB)    &kp TAB            &kp LG(T)                      &kp PAGE_UP    &kp LC(PAGE_UP)     &kp LG(UP_ARROW)    &kp LC(PAGE_DOWN)    &kp PLUS   &kp LC(W)
&kp RA(LC(DEL))  &kp LG(Z)   &kp LG(LC(LEFT))  &kp LC(LG(D))  &kp LG(LC(RIGHT))  &trans         &trans  &trans  &kp PAGE_DOWN  &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &kp LC(T)  &kp LS(LC(EQUAL))
                                               &kp LEFT       &kp LS(TAB)        &kp LC(RIGHT)                  &mkp MB4       &mkp MB5            &kp LS(LG(S))
            >;

            sensor-bindings =
                <&inc_dec_kp RA(TAB) RA(LS(TAB))>,
                <&inc_dec_kp LC(TAB) LS(LC(TAB))>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &kp LG(NUMBER_7)  &kp LG(NUMBER_8)  &kp LG(NUMBER_9)  &trans                     &trans        &kp F7     &kp F8  &kp F9  &kp F12  &kp F15
&trans  &trans  &kp LG(NUMBER_4)  &kp LG(NUMBER_5)  &kp LG(NUMBER_6)  &kp LG(T)                  &trans        &kp F4     &kp F5  &kp F6  &kp F11  &kp F14
&trans  &trans  &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &trans     &trans  &trans  &trans        &kp F1     &kp F2  &kp F3  &kp F10  &kp F13
                                  &trans            &trans            &trans                     &kp UP_ARROW  &kp RIGHT  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(Y) LC(Z)>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_6 {
            bindings = <
&trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans                  &trans  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans
&trans  &trans  &trans        &trans        &trans        &trans                  &trans  &trans        &trans        &trans  &trans  &trans
&trans  &trans  &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans        &trans        &trans  &trans  &trans
                              &trans        &trans        &trans                  &trans  &trans        &trans
            >;
        };
    };
};
